# Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/
[Ll]ibrary/
[Ll]og/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Backup files
*~
*.bak
*.swp
*.tmp

# Other files
*.db
*.pid
*.log


#Agregado por jaime
Migrations/